@model BuilderDesignPatternDemo.Models.PricingPlansModel;

@{
    ViewData["Title"] = "Pricing Plans";
}

<div class="text-center">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Pricing Plans</h1>
    </div>
    <div class="container">
        <div class="card-deck mb-3 text-center">

            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h3 class="my-0 font-weight-normal">@Model.BasicPlan.Name</h3>
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        $ @Model.BasicPlan.Price
                        <small class="text-muted">/ mo</small>
                    </h4>
                    <ul class="list-unstyled mt-3 mb-4">
                        @foreach (var feature in Model.BasicPlan.Features)
                        {
                            <li>@feature.Title - @feature.Value</li>
                        }
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Buy Now</button>
                </div>
            </div>

            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h3 class="my-0 font-weight-normal">@Model.EnterprisePlan.Name</h3>
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        $ @Model.EnterprisePlan.Price
                        <small class="text-muted">/ mo</small>
                    </h4>
                    <ul class="list-unstyled mt-3 mb-4">
                        @foreach (var feature in Model.EnterprisePlan.Features)
                        {
                            <li>@feature.Title - @feature.Value</li>
                        }
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Buy Now</button>
                </div>
            </div>
            
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h3 class="my-0 font-weight-normal">@Model.CustomPlan.Name</h3>
                </div>
                <div class="card-body">
                    <h4 class="card-title">
                        Custom Pricing
                    </h4>
                    <ul class="list-unstyled mt-3 mb-4">
                        @foreach (var feature in Model.CustomPlan.Features)
                        {
                            <li>@feature.Title - @feature.Value</li>
                        }
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-primary">Buy Now</button>
                </div>
            </div>

        </div> 
    </div> 
</div>
